extends base/baseDefault
block headContent
    title #{title}
    script(src="/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
block bodyContent
    nav(class="navbar navbar-dark bg-dark")
            div(class="container-fluid")
                        a(class="navbar-brand" href="#") Sample App
                        div
                            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                                li(class="navbar-item")
                                    a(class="nav-link" href="/") Home
    div(class="container-fluid text-white")
        p This is a sample app that can be used as template for basic projects.
        div(class="container text-white")
            form(action="/post" method="POST")
                div(class="mb-3")
                    label(for="content" class="form-label") Cookie Content:
                    input(type="text" class="form-control bg-dark text-white" id="content" name="content" autocomplete="off")
                button(type="submit" class="btn btn-primary") Submit
                br
                br
                br
                img(src="/meme.png" width=300 height=200 alt="Sample image")