doctype html
html(lang="en")
    head
        block headContent
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="background-color: #343a40;") <!--background-color for the body is declared on baseDefault -->
        block bodyContent